<%-include('./partials/header')%>

<div class="container  d-flex flex-column justify-content-center align-items-center "
    style="min-height:100vh;min-width:100vw ;;background-image: url('https://www.mergersandinquisitions.com/wp-content/uploads/2018/12/how-to-get-into-investment-banking-around-the-world.jpg');background-size: cover;">

    <div>
        <a class="btn btn-outline-dark " href="/login">
            <h2 style="font-family:'Rampart One', cursive; ">LOGIN/REGISTER</h2>
        </a>
    </div>

    <div  style="font-family:'Rampart One', cursive;text-align: center; ">
        <h1 style="font-size:6rem;">World Bank</h1>
    </div>
    

</div>

<%-include('./partials/footer')%>